<katana-card>
    <div class="row">
        <div class="col-md-12" #formRef>
            <div>
                <label class="button-file">More Images</label>
                <input class="form-control-file"  type="file" (change)="updateMutilImages($event)"  multiple><br/>
                <img style="width: 200px;" *ngFor='let url of urls'  [src]="url" height="100px" width="50px"> 
            </div>
            <div>
                <label class="button-file"> Image (<span class="text-danger">*</span>)</label>
                <input class="form-control-file" type="file" validation-name="Image"  (change)="updateImage($event)" [(ngModel)]="item.images" ><br/>
                <img *ngIf="item.images" style="width: 200px;"   [src]="item.images" height="100px" width="50px"> 
            </div>
            <katana-form [column]="2">
                <div *katana-item>
        <div>
            <label>Name (<span class="text-danger">*</span>)</label>
            <katana-textbox  [validationName]="'Name'" [(model)]='item.name'  [type]="'text'"  ></katana-textbox>
        </div>
        <div>
            <label>Unit </label>
            <katana-textbox   [(model)]='item.unit'  [type]="'text'"  ></katana-textbox>
        </div>
        <div>
            <label>Slug (<span class="text-danger">*</span>)</label>
            <katana-textbox  [(model)]='item.slug'  [validationName]="'Slug'"  [type]="'text'"></katana-textbox>
        </div>
        <label>Top hot</label>
        <katana-checkbox [title]="Tophot" [(model)]="item.topHot" ></katana-checkbox>
        <label>Status </label>
        <katana-checkbox [title]="Status" [(model)]="item.status" ></katana-checkbox>
        </div>
        <div *katana-item>
            <div>
                <label>Price (<span class="text-danger">*</span>)</label>
                <katana-textbox  [validationName]="'Price'" [(model)]='item.price' [type]="'number'"></katana-textbox>
            </div>
            <div>
                <label>Sale Price</label>
                <katana-textbox  [validationName]="'SalePrice'" [(model)]='item.salePrice' [type]="'number'"></katana-textbox>
            </div>
            <label>Category (<span class="text-danger">*</span>)</label>
            <select class="form-control" validation-name="category" style="height: 38px;" (change)="categoryChange($event.target.value)" >
              <option *ngFor="let itemCat of categories" [value]="itemCat.id" [selected]="category.id==itemCat.id">{{itemCat.name}}</option>
            </select>
            <!-- <katana-dropdown [searchFunction]="searchCategories" [bindLabel]="'name'" value="'id'"
            [(model)]="category.id" (modelChange)="categoryChange($event)" [validationName]="'CategoryId'"  >
            </katana-dropdown> -->
        </div>
        </katana-form>
        <katana-editor [title]="'Content'" [validationName]="'Content'" [(model)]="item.content"></katana-editor>
        </div>
       
    </div>
</katana-card>