<button *ngIf="selectPermission.length>0" class="btn btn-success" (click)="saveChanges()">Save Changes</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">VIEW</th>
        <th scope="col">ADD</th>
        <th scope="col">EDIT</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of activePermissionList">
        <th  scope="row">{{item.actionName}}</th>
        <td ><input  type="checkbox" [(ngModel)]="item.view" (click)="activeAction('VIEW',item.nameDb)"/></td>
        <td><input [disabled]="item.nameDb=='ORDERS'||item.nameDb=='CHAT'||item.nameDb=='PERMISSION'" type="checkbox" [(ngModel)]="item.add" (click)="activeAction('ADD',item.nameDb)"/></td>
        <td><input [disabled]="item.nameDb=='CHAT'" type="checkbox" [(ngModel)]="item.edit" (click)="activeAction('EDIT',item.nameDb)"/></td>
        <td><input [disabled]="item.nameDb=='ORDERS' || item.nameDb=='CHAT'||item.nameDb=='PERMISSION'" type="checkbox" [(ngModel)]="item.delete" (click)="activeAction('DELETE',item.nameDb)"/></td>
      </tr>
    </tbody>
  </table>