<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<div class="row">
  <div class="sidebars" id="sidebar">
   <span class="logo">CHAT</span>
    <div class="list-wrap">
      <div  [style.background]="roomList[item].new ? '#edf2fa' : null" class="list" *ngFor="let item of dataListRoomProperties" (click)="selectedMessage(item)">
        <img src="{{roomList[item].image}}"  alt="" />
        <div class="info">
          
          <span class="user">{{roomList[item].fullName}}</span>
          <span class="text"> {{ShowRoomMessage(roomList[item].messageBody) }}</span>
          <span *ngIf="roomList[item].isTyping" class="text">  
            <div class="typing">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div></span>
        </div>
        <span class="time">{{ calculateDiff(-roomList[item].timeStamp)}} 
          <span *ngIf="roomList[item].totalNew>0&&roomList[item].totalNew<10" class="notify" > {{roomList[item].totalNew}}</span>
          <span *ngIf="roomList[item].totalNew>9" class="notify" style="padding: 1px;" >9+</span>
        </span>
        
      </div>
 
    </div>
  </div>
  <div id="content" class="content" style="height: 900px;" >
    <header id="header-image">
      <img src="{{currentImage}}" alt="">
      <div class="info">
        <span class="user">{{currentFullName}}</span>
        <span class="time"></span>
      </div>
      <div class="open">
        <a href="javascript:;" (click)="openNarBarMobile()">{{textNarBar}}</a>
      </div>
    </header>
    <div class="message-wrap" id="scroll">
      <div *ngFor="let item of properties">
          <div *ngIf="user.id!=messagesList[item].senderID; else elseBlock" class="message-list clearfix" >
            <div class="msg" style="width:100%">
              
              <p >
                {{messagesList[item].messageBody}}
            </p>
            </div>
            <div class="time" style="text-align:left">{{ calculateDiff(messagesList[item].timeStamp)}}</div>
           
          </div>
          <ng-template #elseBlock>
            <div  class="message-list me " >
              <div class="msg" >
                  <p>
                    {{messagesList[item].messageBody}}
                  </p>
              </div>
              <div class="time">{{ calculateDiff(messagesList[item].timeStamp)}}</div>
            </div>
          </ng-template>
        
      </div>
      <div *ngIf="showTyping"  class="message-list  " style="display: flex;width: 50%;">
        
        <div >
          {{currentFullName}} is typing
        
        </div>
        <div  class="chat-bubble" style="float: right;margin-left: 10px;width:30px">
            
          <div class="typing" >
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          </div>
      </div>
     
    </div>
    <div class="message-footer">
      
        <input style="width:80%" type="text" (keyup)="ChangeTyping()"  (keyup.enter)="postMessage($event.target.value)" [(ngModel)]="mes"  data-placeholder="Send a message to {0}" />
      <button [hidden]="textNarBar=='DOWN'" type="submit" class="btn btn-primary" (click)="postMessage(mes)" style="margin-left: 15px;padding: 15px;padding-top: 10px;">send</button>
    </div>

  </div>
</div>

